:root {
  /* Book-themed colors */
  --background: #f9f2e8;
  --text-color: #362c2a;
  --primary: #8f775f;
  --secondary: #bd9373;
  --accent: #9c443c;
  --font-size: 20px;
  --line-height: 1.6;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: calc(var(--font-size) * 2.5);
  color: var(--primary);
  margin-bottom: 20px;
}

h2 {
  font-size: calc(var(--font-size) * 2);
  color: var(--secondary);
  margin-bottom: 15px;
}

h3 {
  font-size: calc(var(--font-size) * 1.8);
  color: var(--accent);
  margin-bottom: 10px;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--secondary);
}

button.btn {
  border: none;
  border-radius: 4px;
  background-color: var(--secondary);
  color: #fff;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 200ms;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--accent);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  margin-bottom: 20px;
}

header .site-logo {
  font-size: calc(var(--font-size) * 2);
  color: var(--accent);
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.login-form .login-error {
  color: var(--accent);
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 1px solid var(--accent);
  border-radius: 4px;
}
@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}

